openapi: 3.1.0

info:
  title: Truelist API
  description: |
    The Truelist email validation API lets you verify email addresses in real time.
    Use it to reduce bounces, block disposable addresses, and keep your lists clean.

    ## Authentication

    All endpoints require a Bearer token in the `Authorization` header:

    ```
    Authorization: Bearer YOUR_API_KEY
    ```

    ## Rate Limits

    | Endpoint              | Limit           |
    |-----------------------|-----------------|
    | `/api/v1/verify_inline` | 10 requests/s |
    | `/api/v1/verify`      | 10 requests/s   |
    | `/me`                 | 10 requests/s   |

    When you exceed a rate limit the API returns `429 Too Many Requests`.

    ## Validation States

    Every verification returns an `email_state` and `email_sub_state`:

    | State           | Meaning                                           |
    |-----------------|---------------------------------------------------|
    | `ok`            | The email address is deliverable.                  |
    | `email_invalid` | The email address is not deliverable.              |
    | `risky`         | The address may be deliverable but carries risk.   |
    | `unknown`       | Deliverability could not be determined.            |
    | `accept_all`    | The mail server accepts all addresses.             |
  version: 1.0.0
  contact:
    name: Truelist Support
    url: https://truelist.io
    email: support@truelist.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

externalDocs:
  description: Truelist API Documentation
  url: https://truelist.io/docs/api

servers:
  - url: https://api.truelist.io
    description: Production

tags:
  - name: Email Validation
    description: Verify email addresses.
  - name: Batch Verification
    description: Upload lists for batch email verification.
  - name: Account
    description: Retrieve account information.

security:
  - BearerAuth: []

paths:
  /api/v1/verify_inline:
    post:
      operationId: verifyInline
      tags:
        - Email Validation
      summary: Inline email validation
      description: |
        Validate a single email address synchronously. Pass the email as a query
        parameter. No request body is required.

        Returns detailed verification results including email state, domain info,
        and suggested corrections.
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
            format: email
          description: The email address to validate.
          example: "user@example.com"
      responses:
        "200":
          description: Validation result returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineVerifyResponse"
              example:
                emails:
                  - address: "user@example.com"
                    domain: "example.com"
                    canonical: "user@example.com"
                    mx_record: null
                    first_name: null
                    last_name: null
                    email_state: "ok"
                    email_sub_state: "email_ok"
                    verified_at: "2026-02-21T10:39:12.570Z"
                    did_you_mean: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /api/v1/verify:
    post:
      operationId: verifyBatch
      tags:
        - Batch Verification
      summary: Batch email verification
      description: |
        Upload a list of emails for batch verification. This endpoint accepts
        a file (CSV/XLSX) or JSON array of emails and processes them in the
        background.

        This is NOT the same as inline verification. Use `/api/v1/verify_inline`
        for synchronous single-email validation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchVerifyRequest"
            example:
              emails:
                - "user1@example.com"
                - "user2@example.com"
      responses:
        "200":
          description: Batch verification started.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchVerifyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /me:
    get:
      operationId: getMe
      tags:
        - Account
      summary: Get account information
      description: |
        Retrieve your account details including name, email, UUID, time zone,
        role, API keys, and account plan information.
      responses:
        "200":
          description: Account information returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
              example:
                email: "team@company.com"
                name: "Team Lead"
                uuid: "a3828d19-1234-5678-9abc-def012345678"
                time_zone: "America/New_York"
                is_admin_role: true
                token: "abc123"
                api_keys: []
                account:
                  name: "Company Inc"
                  payment_plan: "pro"
                  users: []
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        API key for authentication. Pass as `Authorization: Bearer YOUR_API_KEY`.

  schemas:
    EmailResult:
      type: object
      required:
        - address
        - domain
        - email_state
        - email_sub_state
        - verified_at
      properties:
        address:
          type: string
          format: email
          description: The email address that was validated.
        domain:
          type: string
          description: The domain part of the email address.
        canonical:
          type: string
          description: The canonical form of the email address.
        mx_record:
          type:
            - string
            - "null"
          description: The MX record for the domain, or null if not found.
        first_name:
          type:
            - string
            - "null"
          description: First name associated with the email, if detected.
        last_name:
          type:
            - string
            - "null"
          description: Last name associated with the email, if detected.
        email_state:
          $ref: "#/components/schemas/EmailState"
        email_sub_state:
          $ref: "#/components/schemas/EmailSubState"
        verified_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the verification was performed.
        did_you_mean:
          type:
            - string
            - "null"
          description: |
            A suggested correction if the email appears to contain a typo.
            Null when there is no suggestion.

    InlineVerifyResponse:
      type: object
      required:
        - emails
      properties:
        emails:
          type: array
          items:
            $ref: "#/components/schemas/EmailResult"
          description: Array of verification results.

    BatchVerifyRequest:
      type: object
      required:
        - emails
      properties:
        emails:
          type: array
          items:
            type: string
            format: email
          description: Array of email addresses to verify.

    BatchVerifyResponse:
      type: object
      description: Response from batch verification submission.

    MeResponse:
      type: object
      required:
        - email
        - name
        - uuid
      properties:
        email:
          type: string
          format: email
          description: The email address associated with the account.
        name:
          type: string
          description: The account holder's name.
        uuid:
          type: string
          format: uuid
          description: Unique identifier for the user.
        time_zone:
          type: string
          description: The user's time zone.
        is_admin_role:
          type: boolean
          description: Whether the user has admin privileges.
        token:
          type: string
          description: Authentication token.
        api_keys:
          type: array
          items:
            type: object
          description: List of API keys associated with the account.
        account:
          $ref: "#/components/schemas/AccountInfo"

    AccountInfo:
      type: object
      properties:
        name:
          type: string
          description: The account/organization name.
        payment_plan:
          type: string
          description: The current subscription plan.
        users:
          type: array
          items:
            type: object
          description: List of users on the account.

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: A human-readable error message.

    EmailState:
      type: string
      enum:
        - ok
        - email_invalid
        - risky
        - unknown
        - accept_all
      description: |
        The overall validation verdict for the email address.

        - `ok` -- The email address is deliverable.
        - `email_invalid` -- The email address is not deliverable.
        - `risky` -- The address may be deliverable but carries risk.
        - `unknown` -- Deliverability could not be determined.
        - `accept_all` -- The mail server accepts all addresses.

    EmailSubState:
      type: string
      enum:
        - email_ok
        - is_disposable
        - is_role
        - unknown_error
        - failed_smtp_check
      description: |
        A more specific reason for the validation state.

        - `email_ok` -- Passed all checks.
        - `is_disposable` -- The email belongs to a disposable / temporary provider.
        - `is_role` -- The email is a role-based address (e.g. info@, admin@).
        - `unknown_error` -- The sub-state could not be determined.
        - `failed_smtp_check` -- The SMTP check failed for this address.

  responses:
    Unauthorized:
      description: Authentication failed. The API key is missing, invalid, or expired.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "Unauthorized"

    RateLimitExceeded:
      description: |
        Too many requests. You have exceeded the rate limit for this endpoint.
        Wait before retrying.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "Rate limit exceeded"

    InternalServerError:
      description: An unexpected error occurred on the server. Try again later.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "Internal server error"
